<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render 'shared/flash', flash: flash if flash %>
  <%= f.error_notification message: nil %>
  
  <div class="form-inputs">
    <%= f.input :email, required: true, label: false, autofocus: true, placeholder: 'Email' %>
    <%= f.input :password, required: true, label: false, placeholder: 'Password' %>
    <%= f.input :remember_me, as: :hidden, value: true if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
<div id='link-wrapper'>
  <div id='link-container'>
    <%= render "devise/shared/links" %>
  </div>
</div>