<!DOCTYPE html>
<html>
<head>
  <title>Snippets</title>
  <%= favicon_link_tag 'icon.png' %>
  <link rel="stylesheet" media="screen" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/tomorrow-night-blue.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= render 'shared/user_nav' %>
  <% else %>
    <%= render 'shared/nav' %>
  <% end %>
  <div id='wrapper'>
    <div id='container' class='container'>
      <%= yield %>
    </div>
  </div>
  <%= yield :scripts %>
</body>
</html>
