<!DOCTYPE html>
<html>
<head>
  <title>Snippets</title>
  <link rel="stylesheet" media="screen" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='wrapper' class='static'>
    <div id='container' class='container'>
      <div id='landing-container'>
        <%= image_tag 'icon.png', id: 'landing-logo' %>
        <h1 id='landing-title'>Snip, Snip</h1>
        <p id='landing-subtitle'>A simple snippet storage site</p>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
 